<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/login.css">
    <script defer src="js/index.js"></script>
</head>
<body>
    <div id="large-th">
        <div class="container">
            <h1> ESPN </h1>
            <main style="margin: 20px 0; margin-left: 2%">
                <button class="btn" onclick="AddBook(event)"> Add Player </button>
                <div class="form-item">
                    <div class="select-dropdown">
                       <select class="big" onchange="SelectPress(event)" id="select-d">
                            <option>No Filter</option>
                            <option>Ascending Order</option>
                            <option>Descending Order</option>
                       </select>
                    </div>
                 </div>
            </main>
            <br>
            <form action="/asc" method="get" style="display: none;">
                <button id="ascending-btn">asc</button>
            </form>

            <form action="/desc" method="get" style="display: none;">
                <button id="descending-btn">des</button>
            </form>
            <div id="list-th">
                <% for(var i=0; i<ReviewList.length; i++) { %>
                <div class="book read">
                    <a href="/description/<%=ReviewList[i].id %>">
                        <div class="cover">
                            <img src="<%=ReviewList[i].Bookimage%>" alt="book-name"/>
                        </div>
                        <div class="description">
                            <p class="title"> <%=ReviewList[i].Bookname%>
                                <span class="author"><%=ReviewList[i].Bookauthor%></span>
                            </p>
                    
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <main id="add-form-container" style="display:none;">
        <form id="book-add-form" method="post" action="/submitBookReview">
            <div id="book-add-title">Add a Book</div>
            <label class="book-add-label">Book Title</label>
            <input name="BookTitle" type="text" class='book-add-input' />

            <label class="book-add-label">Book Author</label>
            <input type="text" name="BookAuthor" class='book-add-input' />

            <label class="book-add-label">Book Image Link</label>
            <input type="text" name="BookImage" class='book-add-input' />

            <label class="book-add-label">Book Description</label>
            <textarea rows="8" type="text" name="Description" class='book-add-input' cols="10">

            </textarea>
            <div id="btn-holder">
                <button class="form-btn" type="submit">Submit</button>
                <button class="form-btn" onclick="AddBook(event)" type="button">Cancel</button>
            </div>
        </form>
    </main>
</body>


</html>